[project]
name = "{{ project_name }}"
version = "{{ project_version }}"
description = "{{ project_description }}"
readme = "{{ project_readme }}"
requires-python = "{{ python_version }}"
dependencies = [
    {% for dependency in dependencies %}
    "{{ dependency }}",
    {% endfor %}
]

[dependency-groups]
dev = [
    {% for dev_dependency in dev_dependencies %}
    "{{ dev_dependency }}",
    {% endfor %}
]
